html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
}

footer {
    margin-top: 1em;
    padding: 1em 0;
    text-align: center;
}

#program {
    width: 800px;
    height: 400px;
}

#memory-container {
    display: none;
    width: 824px;
    height: 250px;
    overflow: scroll;
}

#memory-headers, #memory {
    width: 800px;
    table-layout: fixed;
}

#registers, #memory-headers, #memory {
    font-family: Courier New, Courier, monospace;
}

#registers td {
    border-bottom: 0.1em solid black;
}

.row div {
    display: inline-block;
}

#action-bar {
    padding: 0.5em 1em;
    vertical-align: middle;
}

#status-info {
    background: #eee;
    padding: 0.5em 1em;
}

#status-info.error {
    background: #ecc;
}
