html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
}

footer {
    margin-top: 1em;
    padding: 1em 0;
    text-align: center;
}

#memory-container {
    display: none;
    width: 824px;
    height: 250px;
    overflow-y: scroll;
}

#memory-headers, #memory {
    width: 800px;
    table-layout: fixed;
}

#registers, #memory-headers, #memory, #register-log {
    font-family: Courier New, Courier, monospace;
}

#registers td {
    border-bottom: 0.1em solid black;
}

.inline-block {
    display: inline-block;
}

#action-bar {
    padding: 0.5em 1em;
    vertical-align: middle;
}

#status-info {
    background: #eee;
    padding: 0.5em 1em;
}

#status-info.error {
    background: #ecc;
}

.current-line {
    background-color: #0F0;
}

.break-point {
    color: #07C;
}

.can-break-point:hover {
    color: #A9E;
}

.active-break-point {
    background-color: #ADF;
}

#register-label {
    display: none;
    padding: 0.5em 1em;
    background-color: #F9F9F9;
}

#register-checkbox {
    display: none;
}

#register-checkbox:checked + #register-log-outer {
    display: inline-block;
}

#register-log-outer {
    width: 824px;
    display: none;
    height: 250px;
    overflow-y: scroll;
    background-color: #FFF;
}

#register-log {
    padding: 0.5em 1em;
}