<% title = "About" %>
<% include partials/header.ejs %>
    <body>
        <% include partials/nav %>
        <main>
            <div id="about" class="container">
      				<h1 class="center">MARIE.js <span class="version">v<%= version %></span></h1>
      				<h2>About MARIE</h2>
      				<p>MARIE ('Machine Architecture that is Really Intuitive and Easy') is a machine architecture and assembly language from <a href="https://books.google.com.au/books/about/The_Essentials_of_Computer_Organization.html?id=3kQoAwAAQBAJ&redir_esc=y" target="_blank">The Essentials of Computer Organization and Architecture</a> (Linda Null, Julia Lobur). The publisher provides a set of <a href="http://computerscience.jbpub.com/ecoa/3e/simulators.aspx">simulators for the machine</a>, written in Java. However, since using simulators can be rather difficult, we have implemented a web-based version, so that students are able to access it readily and easily. Since beginning the project we have added many features such as importing and exporting of Marie Assembly Source files (*.mas) to provide compatibility with the existing simulators.</p>
                      <br>
                      <hr>
              <h2>About MARIE.js</h2>
      				<p>MARIE.js is an implementation of a simulator for a 'Machine Architecture that is Really Intuitive and Easy' in JavaScript.</p>
      				<p>It is currently developed by <a href="https://github.com/cyderize">Jason Nguyen</a>, <a href="https://github.com/jos0003">Saurabh Joshi</a>, <a href="https://github.com/lorderikir">Eric Jiang</a> and  <a href="https://github.com/atrotors">Erfan Norozi</a>.</p>
              <p>Some example/demostration code is written by <a href="https://github.com/RavenKelder">Felix Salim</a></p>
      				<hr>
      				<h2>Terms of Use</h2>
      				By agreeing to the following terms and conditions, you understand that:
                    <ul>
                        <li> you are bound by the Higher Education Plagiarism Notice set here: <a href="https://github.com/MARIE-js/MARIE.js/wiki#plagiarism-notice-for-higher-education-students" target="_blank">https://github.com/MARIE-js/MARIE.js/wiki#plagiarism-notice-for-higher-education-students</a></li>
                        <li>all source code is bound by the MIT license, as specified in the README.md file: <a href="https://github.com/MARIE-js/MARIE.js#license" target="_blank">https://github.com/MARIE-js/MARIE.js#license</a></li>
                        <li>the Terms of Use may change in the future</li>
                    </ul>

      				<hr>
      				<h2>License</h2>
      				<p>Copyright (c) 2016 Jason Nguyen, Saurabh Joshi, Eric Jiang, Erfan Norozi, Josh Nelsson-Smith and Felix Salim </p>
      				<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

      				<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

      				<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

      				<hr>
      				<p>
      					<em>This project is designed by students of:</em><br>
                <em>Monash University - Faculty of Information Technology</em>
      					<em>Designed for <strong>FIT1047</strong>: Introduction to Computers, Networks and Security.</em>
      				</p>
      			</div>
      <!-- Version Modal -->
      <div class="modal fade " id="currentVersion" role="dialog" data-keyboard="true" tabindex="-1">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title"> MARIE.js | <i class="fa fa-hashtag"></i> Current Version</h4>
                  </div>
                  <div class="modal-body">
                      <p>This version of <strong>MARIE.js</strong> is: v<%= version %></p>
                  </div>
              </div>
          </div>
      </div>
    </main>

<% include partials/footer %>
