<% title = "Home" %>
<% include partials/header.ejs %>
    <body class="preload">
        <% include partials/nav %>
        <main>

            <div class="container">
                <div id="warn-missing-file" class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Warning!</strong> The file inputed was not found (Error 404).
                </div>
                <div id="flex">
                    <div id="program-container">
                        <span>Assembly code: <span id="saved-status"></span></span>
                        <textarea id="program">Loading...</textarea>
                    </div>
                    <div id="register-container">
                        <table id="registers">
                            <% var registers = ["ac", "ir", "mar", "mbr", "pc", "in", "out"] %>
                            <% for(var i = 0; i < registers.length; i++) { %>
                            <tr>
                                <th><%= registers[i].toUpperCase() %></th>
                            </tr>
                            <tr>
                                <td id="<%= registers[i] %>">000<%= ["pc", "mar"].indexOf(registers[i]) < 0 ? "0" : "" %></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                    <div id="tab-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#output-log-outer">Output log</a></li>
                            <li><a data-toggle="tab" href="#register-log-outer">Register log</a></li>
                            <li><a data-toggle="tab" href="#watch-list-outer">Watch list</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="output-log-outer" class="tab-pane fade in active">
                                <div id="output-log"></div>
                            </div>
                            <div id="register-log-outer" class="tab-pane fade">
                                <div id="register-log"></div>
                            </div>
                            <div id="watch-list-outer" class="tab-pane fade">
                                <table id="watch-list-headers">
                                    <tr>
                                        <th class="watch-list-label">Label</th>
                                        <th class="watch-list-address">Address</th>
                                        <th class="watch-list-value">Value</th>
                                    </tr>
                                </table>
                                <table id="watch-list"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row light-grey">
                    <div class="col-md-8">
                        <div id="status-info">MARIE.js</div>
                    </div>
                    <div class="col-md-4">
                        <span id="output-selector">
                            <b>OUTPUT MODE: </b>
                            <select id="output-select" class="output-type">
                                <option>HEX</option>
                                <option>DEC</option>
                                <option>UNICODE</option>
                                <option>BIN</option>
                            </select>
                        </span>
                    </div>
                </div>

                <div id="memory-display">
                    <table id="memory-headers"></table>
                    <div id="memory-container">
                        <table id="memory"></table>
                    </div>
                </div>
                <div id="datapath" class="overlay overlay-view">
                    <div class="popup">
                        <a id="close-datapath" class="close">&times;</a>
                        <div class="container">
                            <div id="datapath-status-bar" class="alert alert-info">Ready</div>
                            <object id="datapath-diagram" data="images/diagrams/drawing_plain.svg" type="image/svg+xml"></object>
                            <div id="datapath-display-instructions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <nav id="bottom-menu" class="navbar navbar-default navbar-fixed-bottom">
                <div class="row">
                    <div id="action-bar">
                        <button id="assemble"><span class="fa fa-th"></span> Assemble</button>
                        <button id="step" disabled><span class="fa fa-fast-foward"></span> Step</button>
                        <button id="microstep" disabled><span class="fa fa-foward"></span> Microstep</button>
                        <button id="step-back" disabled>Step Back</button>
                        <button id="run" disabled>Run</button>
                        <button id="restart" disabled>Restart</button>
                        <span id="delay-slider">
                            <span>Delay:</span>
                            <input id="range-delay" type="range" min="1" max="3000" value="1" />
                            <span id="display-delay-ms">1 ms</span>
                        </span>
                    </div>
                </div>
            </nav>
        </footer>
        <div id="input-dialog" class="popover popover-default popover-md">
            <div class="arrow"></div>
            <div class="popover-title">
                <h4>Input Value</h4>
            </div>
            <div class="popover-content">
                <p>Please input a value.</p>
                <div id="input-error" class="alert alert-danger">
                    <strong>Error:</strong> Invalid input. Please try again.
                </div>
                <div class="form-group">
                    <label for="input-value">Value:</label>
                    <input type="text" class="form-control" id="input-value">
                    <label for="input-type">Type:</label>
                    <select class="form-control" id="input-type">
                        <option value="HEX">Hexadecimal</option>
                        <option value="DEC">Decimal</option>
                        <option value="UNICODE">Unicode</option>
                        <option value="BIN">Binary</option>
                    </select>
                </div>
            </div>
            <div class="popover-footer">
                <button id="input-pause-button" type="button" class="btn btn-default">Cancel and pause</button>
                <button id="input-button" type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>

        <!-- newFile Modal -->
        <div class="modal fade " id="newfoldermodal" role="dialog" data-keyboard="true" tabindex="-1">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">MARIE.js | <span class="fa fa-file-o"></span> New File</h4>
                    </div>
                    <div class="modal-body">
                        <p>This will create a new file. Are you sure you want to proceed?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="newfilebtn" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                        <button id="exportfile" type="button" class="btn btn-primary" data-dismiss="modal">Export File</button>
                        <button id="cnclnewfile" type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="file" id="fileInput" accept=".mas,.txt">

        <!-- Preferences Modal -->
        <div class="modal fade" id="prefs-modal" role="dialog" data-keyboard="true" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">MARIE.js | <span class="fa fa-wrench"></span> Preferences</h3>
                    </div>
                    <div id="prefs-invalid-input-error" class="alert alert-danger">
                        <span class="glyphicon glyphicon-alert"></span> <strong>Invalid input</strong> Please try again.
                    </div>
                    <div class="modal-body">
                        <table class="pref-table">
                            <tr>
                                <td><h4>Auto Settings</h4></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><label for="autocomplete">Autocomplete: </label></td>
                                <td class="prefs-row"><input type="checkbox" id="autocomplete" /></td>
                            </tr>
                            <tr>
                                <td><label for="autosave">Autosave: </label></td>
                                <td class="prefs-row"><input type="checkbox" id="autosave" /></td>
                            </tr>
                            <tr>
                                <td><h4>Delay Setings</h4></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><label for="min-delay">Minimum delay (ms):</label></td>
                                <td class="prefs-row"><input type="text" class="form-control" id="min-delay" style="text-align: right;"/></td>
                            </tr>
                            <tr>
                                <td><label for="max-delay">Maximum delay (ms):</label></td>
                                <td class="prefs-row"><input type="text" class="form-control" id="max-delay" style="text-align: right;"/></td>
                            </tr>
                            <tr>
                                <td><label for="min-datapath-delay">Minimum datapath delay (ms):</label></td>
                                <td class="prefs-row"><input type="text" id="min-datapath-delay" class="form-control" style="text-align: right;"/></td>
                            </tr>
                            <tr>
                                <td><h4>Input/Output Settings</h4></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Binary String Group Length</td>
                                <td class="prefs-row">
                                    <select id="bstringLength" style="width: 50%;text-align: right">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="4">4</option>
                                        <option value="8">8</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Default Input Mode:</td>
                                <td class="prefs-row">
                                    <select id="defaultInputModeSelect" style="width: 50%;text-align: right">
                                        <option value="HEX">HEX</option>
                                        <option value="DEC">DEC</option>
                                        <option value="UNICODE">UNICODE</option>
                                        <option value="BIN">BINARY</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Default Output Mode:</td>
                                <td class="prefs-row">
                                    <select id="defaultOutputModeSelect" style="width: 50%;text-align: right">
                                        <option value="HEX">HEX</option>
                                        <option value="DEC">DEC</option>
                                        <option value="UNICODE">UNICODE</option>
                                        <option value="BIN">BINARY</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="save-changes" type="button" class="btn" disabled>Save changes</button>
                        <button id="cancel-changes" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="set-to-defaults" type="button" class="btn btn-danger pull-left" data-dismiss="modal">Set to defaults</button>
                    </div>
                </div>
            </div>

            
        </div>
        <!-- ToS Agreement Modal -->
            <div class="modal fade" id="tosModal" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Terms of Use Agreement</h4>
                    </div>
                    <div class="modal-body">
                            By agreeing to the following terms and conditions, you understand that:
                            <ul>
                                <li> you are bound by the Higher Education Plagiarism Notice set here: <a href="https://github.com/MARIE-js/MARIE.js/wiki#plagiarism-notice-for-higher-education-students" target="_blank">https://github.com/MARIE-js/MARIE.js/wiki#plagiarism-notice-for-higher-education-students</a></li>
                                <li>all source code is bound by the MIT license, as specified in the README.md file: <a href="https://github.com/MARIE-js/MARIE.js#license" target="_blank">https://github.com/MARIE-js/MARIE.js#license</a></li>
                                <li>the Terms of Use may change in the future</li>
                            </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="checkbox" id="touAgree" value="Yes"> I hearby agree to the Terms of Use agreement. <br>
                                <span id="touError" style="font-color: red"></span>
                            </div>
                            <div class="col-md-4">
                                <button id="submitToU" class="btn btn-default" >OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
    </body>
</html>
