<% title = "Home" %>
<% include partials/header.ejs %>
    <body id="marie-js">
        <% include partials/nav %>
        <main>
            <div class="container">
                <div id="flex">
                    <div id="program-container">
                        Assembly code:
                        <textarea id="program"></textarea>
                    </div>
                    <div id="register-container">
                        <table id="registers">
                            <% var registers = ["ac", "ir", "mar", "mbr", "pc", "in", "out"] %>
                            <% for(var i = 0; i < registers.length; i++) { %>
                            <tr>
                                <th><%= registers[i].toUpperCase() %></th>
                            </tr>
                            <tr>
                                <td id="<%= registers[i] %>">000<%= ["pc", "mar"].indexOf(registers[i]) < 0 ? "0" : "" %></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                    <div id="tab-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#output-log-outer">Output log</a></li>
                            <li><a data-toggle="tab" href="#register-log-outer">Register log</a></li>
                            <li><a data-toggle="tab" href="#watch-list-outer">Watch list</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="output-log-outer" class="tab-pane fade in active">
                                <div id="output-log"></div>
                            </div>
                            <div id="register-log-outer" class="tab-pane fade">
                                <div id="register-log"></div>
                            </div>
                            <div id="watch-list-outer" class="tab-pane fade">
                                <table id="watch-list-headers">
                                    <tr>
                                        <th class="watch-list-label">Label</th>
                                        <th class="watch-list-address">Address</th>
                                        <th class="watch-list-value">Value</th>
                                    </tr>
                                </table>
                                <table id="watch-list"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="status-info">MARIE.js</div>
                <div id="memory-display">
                    <table id="memory-headers"></table>
                    <div id="memory-container">
                        <table id="memory"></table>
                    </div>
                </div>
                <div id="datapath" class="overlay overlay-view">
                    <div class="popup">
                        <a id="close-datapath" class="close">&times;</a>
                        <div class="container">
                            <div id="datapath-too-fast-warning" class="alert alert-warning">
                                <strong>Note: </strong> MARIE.js is running too fast to update datapath visualiser. Increase delay to at least 1000 ms, or set simulator to stepping mode.
                            </div>
                            <object id="datapath-diagram" data="images/diagrams/drawing_plain.svg" type="image/svg+xml"></object>
                            <div id="datapath-display-instructions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <nav id="bottom-menu" class="navbar navbar-default navbar-fixed-bottom">
                <div id="action-bar">
                    <button id="assemble">Assemble</button>
                    <button id="step" disabled>Step</button>
                    <button id="microstep" disabled>Microstep</button>
                    <button id="step-back" disabled>Step Back</button>
                    <button id="run" disabled>Run</button>
                    <button id="restart" disabled>Restart</button>
                    <span id="delay-slider">
                        <span>Delay:</span>
                        <input id="range-delay" type="range" min="1" max="3000" value="1" />
                        <span id="display-delay-ms">1 ms</span>
                    </span>
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <span id="output-selector">
                        <b>OUTPUT MODE: </b>
                        <select id="output-select" class="output-type">
                            <option>HEX</option>
                            <option>DEC</option>
                            <option>ASCII</option>
                        </select>
                    </span>
                </div>
            </nav>
        </footer>
        <div id="input-dialog" class="popover popover-default popover-md">
            <div class="arrow"></div>
            <div class="popover-title">
                <h4>Input Value</h4>
            </div>
            <div class="popover-content">
                <p>Please input a value.</p>
                <div id="input-error" class="alert alert-danger">
                    <strong>Error:</strong> Invalid input. Please try again.
                </div>
                <div class="form-group">
                    <label for="input-value">Value:</label>
                    <input type="text" class="form-control" id="input-value">
                    <label for="input-type">Type:</label>
                    <select class="form-control" id="input-type">
                        <option value="hex">Hexadecimal</option>
                        <option value="dec">Decimal</option>
                        <option value="ascii">ASCII</option>
                    </select>
                </div>
            </div>
            <div class="popover-footer">
                <button id="input-button" type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>
        <!-- newFile Modal -->
        <div class="modal fade" id="newfoldermodal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">MARIE.js | New File</h4>
                    </div>
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-alert"></span> <strong>Warning!</strong> This will create clear all history as well as clearing the codearea.
                    </div>
                    <div class="modal-body">
                        <p>This will create a new file, are you sure you want to proceed?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="newfilebtn" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                        <button id="savefile" type="button" class="btn btn-default" data-dismiss="modal">Save File</button>
                        <button id="cnclnewfile" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="file" id="fileInput" accept=".mas,.txt">
    </body>
</html>
