        <footer>
            <div class="container" style="padding: 0 0">
            </div>
            <p>Created by <a href="https://github.com/cyderize">Jason Nguyen</a>, <a href="https://github.com/jos0003">Saurabh Joshi</a> and <a href="https://github.com/lorderikir">Eric Jiang</a>.</p>
        </footer>
    </body>
</html>
