<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>MARIE.js | <%= title %></title>
        <% if (release) { %>
        <script src="js/marie.min.js" type="text/javascript"></script>
        <% } else { %>
        <script src="js/ext/jquery-1.12.3.js" type="text/javascript"></script>
        <script src="js/ext/bootstrap.js" type="text/javascript"></script>
        <script src="js/ext/bootstrap-popover-x.js" type="text/javascript"></script>
        <script src="js/ext/codemirror.js" type="text/javascript"></script>
        <script src="js/ext/simple.js" type="text/javascript"></script>
        <script src="js/ext/show-hint.js" type="text/javascript"></script>
        <script src="js/ext/filesaver.js" type="text/javascript"></script>
        <script src="js/ext/search.js" type="text/javascript"></script>
        <script src="js/ext/bootstrap-tour.js" type="text/javascript"></script>
        <script src="js/ext/bootstrap-tour.min.js" type="text/javascript"></script>
        <script src="js/ext/sdialog.js" type="text/javascript"></script>
        <script src="js/ext/searchcursor.js" type="text/javascript"></script>
        <script src="js/ext/jump-to-line.js" type="text/javascript"></script>
        <script src="js/ext/gapi.js" type="text/javascript"></script>
        <script src="js/ext/nprogress.js" type="text/javascript"></script>

        <script src="js/syntax.js" type="text/javascript"></script>
        <script src="js/autocomplete.js" type="text/javascript"></script>
        <script src="js/utility.js" type="text/javascript"></script>
        <script src="js/marie.js" type="text/javascript"></script>
        <script src="js/datapath.js" type="text/javascript"></script>
        <script src="js/interface.js" type="text/javascript"></script>
        <script src="js/tour.js" type="text/javascript"></script>
        <script src="js/theme.js" type="text/javascript"></script>
        <% } %>
        <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>

        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap-tour.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap-tour.min.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap-popover-x.css" media="all" rel="stylesheet" type="text/css" />
        <link href="css/show-hint.css" rel="stylesheet" type="text/css">
        <link href="css/sdialog.css" rel="stylesheet" type="text/css">
        <link href="css/plain.css" rel="stylesheet" type="text/css">
        <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="css/nprogress.css" rel="stylesheet" type="text/css">

        <link href="css/codemirror.css" rel="stylesheet" type="text/css">
        <link href="css/codemirrorDracula.css" rel="stylesheet" type="text/css">
        <link id="mode" href="css/styleLight.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>
