<header>
<!-- Static navbar -->
<nav id="top-menu" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="logo">
          <img src="images/logo.png" style="height:100%" alt="logo">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="./"><span class="fa fa-home"></span> Home </a></li>
      <% if(title == "Home") { %>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-file"></span> File
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a id="clear"><span class="fa fa-file-o"></span> New...</a></li>
              <li><a id="save"><span class="fa fa-save"></span> Save  | Ctrl+S</a></li>
              <li class="divider"></li>
              <li><a id="upload"><span class="fa fa-folder-open-o"></span>  Upload...</a></li>
              <li><a id="download"><span class="fa fa-download"></span> Download</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lightbulb-o"></span> Examples
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="./?addition"><span class="fa fa-plus"></span> Addition</a></li>
              <li><a href="./?multiply"><span class="fa fa-times"></span> Multiply</a></li>
              <li><a href="./?quicksort"><span class="fa fa-sort"></span> Quicksort</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-pencil"></span> Edit
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a id="undo"><span class="fa fa-undo"></span> Undo  | Ctrl+Z</a></li>
              <li><a id="redo"><span class="fa fa-repeat"></span> Redo   | Ctrl+Y </a></li>
              <li class="divider"></li>
              <li><a id="clearBreakPoints"><span class=""></span> Clear All Breakpoints</a></li>
              <li class="divider"></li>
              <li><a id="prefs"><span class="fa fa-wrench"></span> Preferences </a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-eye"></span> View
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a id="dpath-menu"><span class="fa fa-server"></span> Datapath <span id="datapath-tick" class="fa fa-check fa-pull-right"></span></a></li>
          </ul>
      </li>
      <% } %>
      <li class="dropdown" id="help">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-question-circle-o"></span> Help
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="about.html"><span class="fa fa-info-circle"></span> About </a></li>
              <li><a id="displayVersion"><span class="fa fa-hashtag"></span> Current Version</a></li>
              <li><a href="https://github.com/MARIE-js/MARIE.js/releases" target="_blank"><span class="fa fa-github-alt"></span> Releases</a></li>
              <% if(title == "Home") { %>
              <li><a id="starttour"><span class="fa fa-ship"></span> Rerun Tour</a></li>
              <% } %>
              <li class="divider"></li>
              <li><a href="https://github.com/MARIE-js/MARIE.js/wiki/Frequently-Asked-Questions-(FAQs)" target="_blank"><span class="fa fa-question"></span> FAQs </a></li>
              <li><a href="https://github.com/MARIE-js/MARIE.js/wiki" target="_blank"><span class="fa fa-book"></span> Wiki </a></li>
              <li><a href="book.pdf" target="_blank"><span class="fa fa-book"></span> Get eBook </a></li>
              <li><a href="https://github.com/MARIE-js/MARIE.js/wiki/MARIE-Instruction-Set-(with-Opcodes)" target="_blank"><span class="fa fa-info"></span> Instruction Set </a></li>
              <li class="divider"></li>
              <li><a href="https://gitreports.com/issue/MARIE-js/MARIE.js/" target="_blank"><span class="fa fa-bug"></span> Report an Issue</a></li>
              <li><a href="https://goo.gl/CWAaES" target="_blank"><span class="fa fa-paperclip"></span> Submit Feedback</a></li>
              <li><a href="http://stats.uptimerobot.com/xnjJPTJj0" target="_blank"><span class="fa fa-check-circle"></span> Server Status</a></li>
          </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" id="google" data-toggle="dropdown"><span class="fa fa-google"></span>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li id="nameItem"><a id="nameLink">test</a></li>
              <li class="divider"></li>
              <li><a id="login" ><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
              <li><a id="gdrive" >Open from Drive</a></li>
              <li><a id="opensgdModal" >Save to Drive</a></li>
              <li><a id="logOut" href="https://mail.google.com/mail/u/0/?logout&hl=en"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
              <li hidden><a id="o"></a></li>
          </ul>
        </li>
        <li><a href="https://github.com/MARIE-js/MARIE.js"  data-toggle="tooltip" data-placement="bottom" title="View on GitHub"  target="_blank"><span class="fa fa-github"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

</header>
