<header>
    <nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand" id="brand">
                MARIE.js <span class="version">v<%= version %></span>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="./"><span class="fa fa-home"></span> Home </a></li>
                <% if(title == "Home") { %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-file"></span> File
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="clear"><span class="fa fa-file-o"></span> New...</a></li>
                        <li><a id="save"><span class="fa fa-save"></span> Save  | Ctrl+S</a></li>
                        <li class="divider"></li>
                        <li><a id="upload"><span class="fa fa-folder-open-o"></span>  Upload...</a></li>
                        <li><a id="download"><span class="fa fa-download"></span> Download</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-pencil"></span> Edit
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="undo"><span class="fa fa-undo"></span> Undo  | Ctrl+Z</a></li>
                        <li><a id="redo"><span class="fa fa-repeat"></span> Redo   | Ctrl+Y </a></li>
                        <li class="divider"></li>
                        <li><a id="prefs"><span class="fa fa-wrench"></span> Preferences </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-eye"></span> View
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="dpath-menu"><span class="fa fa-server"></span> Datapath <span id="datapath-tick" class="fa fa-check fa-pull-right"></span></a></li>
                    </ul>
                </li>
                <% } %>
                <li class="dropdown" id="help">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-question-circle-o"></span> Help
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/MARIE-js/MARIE.js/wiki" target="_blank"><span class="fa fa-book"></span> Wiki </a></li>
                        <li><a href="https://github.com/MARIE-js/MARIE.js/wiki" target="_blank"><span class="fa fa-book"></span> Download eBook (PDF) </a></li>
                        <li><a href="https://github.com/MARIE-js/MARIE.js/wiki/MARIE-Instruction-Set-(with-Opcodes)" target="_blank"><span class="fa fa-info"></span> Instruction Set </a></li>
                        <li><a href="about.html"><span class="fa fa-info-circle"></span> About </a></li>
                        <li><a href="https://mariejssite.wordpress.com/" target="_blank"><span class="fa fa-wordpress"></span> Blog</a></li>
                        <li class="divider"></li>
                        <li><a href="https://gitreports.com/issue/MARIE-js/MARIE.js/" target="_blank"><span class="fa fa-bug"></span> Report an Issue</a></li>
                        <% if(title == "Home") { %>
                        <li><a id="starttour"><span class="fa fa-ship"></span> Rerun Tour</a></li>
                        <% } %>
                    </ul>
                </li>
            </ul>
            <a id="forkme_banner" href="https://github.com/MARIE-js/MARIE.js" target="_blank">View on GitHub</a>
        </div>
    </nav>
</header>
