<header>
    <nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand" id="brand">
                MARIE.js <span class="version">v<%= version %></span>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <% if(title == "Home") { %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">File
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="clear">New...</a></li>
                        <li class="divider"></li>
                        <li><a id="upload"><span class="glyphicon glyphicon-folder-open"></span> Upload...</a></li>
                        <li><a id="download"><span class="glyphicon glyphicon-export"></span> Export</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Edit
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="undo"><span class="glyphicon glyphicon-chevron-left"></span> Undo  | Ctrl+Z</a></li>
                        <li><a id="redo"><span class="glyphicon glyphicon-repeat"></span> Redo   | Ctrl+Y </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">View
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="dpath-menu">Datapath <i id="datapath-tick" class="glyphicon glyphicon-ok pull-right"></i></a></li>
                    </ul>
                </li>
                <% } %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Help
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/MARIE-js/MARIE.js/wiki" target="_blank"><span class="glyphicon glyphicon-book"></span> Wiki </a></li>
                        <li><a href="https://github.com/MARIE-js/MARIE.js/wiki/MARIE-Instruction-Set-(with-Opcodes)" target="_blank"><span class="glyphicon glyphicon-book"></span> Instruction Set </a></li>
                        <li><a href="about.html"><span class="glyphicon glyphicon-info-sign"></span> About </a></li>
                        <li><a href="https://mariejssite.wordpress.com/" target="_blank"> Blog</a></li>
                        <li class="divider"></li>
                        <li><a href="https://gitreports.com/issue/MARIE-js/MARIE.js/" target="_blank"><span class="glyphicon glyphicon-alert"></span> Report an Issue</a></li>
                        <li><a id="starttour"> Rerun Tour</a></li>
                    </ul>
                </li>
            </ul>
            <a id="forkme_banner" href="https://github.com/MARIE-js/MARIE.js" target="_blank">View on GitHub</a>
        </div>
    </nav>
</header>
