body {
  background-color: #404040;
  color: black;
}

.container {
  color: white;
}

..dropdown-menu > li > a {
  color: black
}

button {
    background-color: #008a00;
    border: #008a00;
    color: #fff;
    height: 2.5em;
    padding: 10 auto 10 auto;
}
button:hover {
    background-color: #0AC92B;
    border: #0AC92B;
    color: #fff;
    height: 2.5em;
}
button[disabled=disabled], button:disabled {
    background-color: #2e2e2e;
    border: #2e2e2e;
    color: #fff;
    height: 2.5em;
}

#top-menu{
    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #fff;
}

#bottom-menu{
    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

#top-menu .nav a {
  color: white;
}

.nav a {
  color: black;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #404040;
}


.output-type {
    width:100px;
    text-align: right;
    background-color: inherit;
    color: inherit;
    bottom:100%;
}

#output-log-outer{
    flex: 1 0 0;
    padding: 0 0.5em 100px;
    box-sizing: border-box;
    border: 0.1em solid #ccc;
    overflow: hidden;
    background-color: #FFF;
}

#register-log-outer, #watch-list-outer {
    flex: 1 0 0;
    padding: 0 0.5em 1em;
    box-sizing: border-box;
    border: 0.1em solid #ccc;
    overflow: scroll;
    background-color: #FFF;
}

#output-log{
    max-height: 100%;
    padding: 0.5em 1em;
    text-align: right;
	font-family: sans-serif;
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
    max-height: 100%
}
