html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 75px auto 0;
    text-align: center;
}

.container-code {
    width: 80%;
    margin: 75px auto 0;
    text-align: left;
}

.container > * {
    text-align: left;
}

#file {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

#flex {
    display: flex;
    flex-direction: row;
}

#flex > * {
    height: 400px;
}

#program-container {
    display: flex;
    flex-direction: column;
    flex: 2 0 0;
    width: 50%;
    min-width: 500px;
}

#register-container {
    width: 60px;
}

#tab-container {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 360px;
}

.tab-content {
    flex: 1 0 0;
    display: flex;
    min-height: 0;
}

footer {
    margin-top: 1em;
    padding: 1em 0;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #fff;
    z-index: 22;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: relative;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    transition: all 200ms;
    opacity: 1;
}

.popup .close:hover {
    color: #888;
}

#datapath-display-instructions {
    text-align: center;
    visibility: hidden;
}

#instructions {
    display:inline-block;
    width: 49%;
    float: left;
}

#micro-instructions {
    display: inline-block;
    width: 49%;
    float: right;
    height: 6em;
    overflow: auto;
}

#micro-instructions td {
    margin: auto;
    text-align: center;
    width: 100%;
}

#current-instruction {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: auto;
    font-size: 30px;
}

#previous-instruction, #next-instruction {
    color: #888;
}

#datapath-too-fast-warning {
    visibility: hidden;
}

#memory-display {
    overflow: auto;
    max-width: 100%;
    display: inline-block;
}

#memory-container {
    display: none;
    width: 824px;
    height: 250px;
    overflow-y: scroll;
}

#memory-headers, #memory {
    width: 800px;
    table-layout: fixed;
    text-align: center;
}

#memory-headers th, #memory th {
    border: 0.1em solid #ccc;
    text-align: center;
    font-family: sans-serif
}

#memory tr:nth-child(odd) .cell:nth-child(even) {
    background: #f2f2f2;
}

#memory tr:nth-child(odd) .cell:nth-child(odd) {
    background: #e0e0e0;
}

#memory tr:nth-child(even) .cell:nth-child(even) {
    background: #e0e0e0;
}

#memory tr:nth-child(even) .cell:nth-child(odd) {
    background: #ffffff;
}

#registers, #memory-headers, #memory, #register-log {
    font-family: Courier New, Courier, monospace;
}

#action-bar {
    padding: 0 2em;
    line-height: 2em;
}

#action-bar input {
    height: 1em;
}

.CodeMirror {
    border: 0.1em solid #ccc;
    flex: 1 0 0;
    height: 100%;
}

.breakpoints {
    width: 0.8em;
}

#status-info {
    background: #eee;
    padding: 0.5em 1em;
}

#status-info.error {
    background: #ecc;
}

.error-line {
    background-color: #ECC;
}

.current-line {
    background-color: #5E5;
}

.active-break-point {
    background-color: #ADF;
}

.current-pc {
    background-color: #0F0 !important;
}

.current-mar {
    background-color: #FF0 !important;
}

#registers {
    padding: 0 0.5em;
    margin: 0 10px;
}

#registers th {
    padding-top: 1em;
    font-family: sans-serif;
}

#registers td {
    border: 0.1em solid #ccc;
    text-align: center;
    font-family: sans-serif;
}

#register-label {
    padding: 0.5em 1em;
    background-color: #F9F9F9;
}

#output-log-outer, #register-log-outer, #watch-list-outer {
    flex: 1 0 0;
    padding: 0 0.5em;
    box-sizing: border-box;
    border: 0.1em solid #ccc;
    overflow-y: scroll;
    background-color: #FFF;
}

#output-log, #register-log {
    padding: 0.5em 1em;
    text-align: right;
	font-family: sans-serif;
}

#output-log {
    border-top: 0.1em solid #ccc;
	font-family: sans-serif;
}

#output-select {
    margin: 0.5em 0;
}

@media (max-width: 1000px) {
    .container {
        width: 95%;
    }

    #flex {
        flex-wrap: wrap;
    }

    #program-container {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 80%;
    }
}

#file-io {
    padding: 10px;
    height: 60px
}

/*
NAVBAR TEST CODE
*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    cursor: default;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(46, 46, 46, 1);
    border-width: 1px;
    border-radius: 4px;
    cursor: default;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
    cursor: default;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(69, 69, 69, 1);
    cursor: default;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 138, 0, 1);
    cursor: default;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #008a00;
    cursor: default;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #008a00;
    cursor: default;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #008a00;
    cursor: default;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2e2e2e;
    cursor: default;
}

#forkme_banner {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
button {
    background-color: #008a00;
    border: #008a00;
    color: #fff;
    height: 2.5em;
    padding: 10 auto 10 auto;
}
button:hover {
    background-color: #0AC92B;
    border: #0AC92B;
    color: #fff;
    height: 2.5em;
}
button[disabled=disabled], button:disabled {
    background-color: #2e2e2e;
    border: #2e2e2e;
    color: #fff;
    height: 2.5em;
}

codeblock {
    text-align: left;
    width: 50%;
    font-size: 95%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}

#content codeblock {
    display: block;
    border: 1px solid #bebab0;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

@media screen and (max-width: 767px) {
    .container {
        margin-top: 240px;
    }
}

#watch-list-outer {
    padding: 10px;
}

#watch-list-headers, #watch-list {
    width: 100%;
    table-layout: fixed;
}

#watch-list-headers {
    border-bottom: solid 1px #CCC;
}

.watch-list-label {
    text-overflow: ellipsis;
    overflow: hidden;
}

.watch-list-address, .watch-list-value {
    width: 70px;
}

#input-dialog {
    pointer-events: none;
    top: 150px;
}

#input-dialog * {
    pointer-events: all;
}

#bottom-menu{
    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.output-type {
    height:50%;
    width:100px;
    text-align: right;
    background-color: #2e2e2e;
    color: white;
}

.completion-origination.CodeMirror-hint,
.completion-operand.CodeMirror-hint {
    color: #219;
}

.completion-operator.CodeMirror-hint {
    color: #708;
}

.completion-label.CodeMirror-hint {
    color: #A11;
}

#delay-slider, #output-selector {
    white-space: nowrap;
}

.version {
    font-size: 10px;
}

.center {
    text-align: center;
}

#fileInput {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.memory-changed {
    color: red;
}
